{% load static %}
<html>
    <header>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <title>masukei`s website</title>
        <h1><a href="/">MASUKEI`s WEBSITE</h1>
    </header>

    <body>
        
        {% for post in posts %}
            <dev>
                <p>published: {{ post.published_date }}</p>
                <h2><a href="/">{{ post.title }}</a></h2>
                <p>{{ post.text|linebreaksbr}}</p>            
            </dev>
        {% endfor %}

    </body>
</html>